@model IEnumerable<ProjetoHorasCompl.Models.Comprovante>

@{
    ViewData["Title"] = "BuscaSimples";
}

<h2>BuscaSimples</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CmpDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpDataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpDataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpQtdHoras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CmpDescricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CmpDataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CmpDataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CmpQtdHoras)
                </td>
            </tr>
         }
    </tbody>
</table>
