@model ProjetoHorasCompl.Models.Comprovante

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comprovante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CmpDescricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CmpDescricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CmpDataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CmpDataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CmpDataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CmpDataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CmpQtdHoras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CmpQtdHoras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
